body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* cursor: none; */
    background-color: grey;
}

canvas {
    display: block;
    cursor: none;
    margin: 10 auto;
    border: 5px black solid;
}